@font-face {
  font-family: 'Futura';
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/Futura.woff') format('woff'),
    url('/fonts/Futura.ttf') format('truetype');
}

div {
  border-radius: 25%;
  max-width: 64rem;
  margin: 2rem auto;
}

body {
  font-family: 'Futura', sans-serif;
}

h1 {
  color: #606060;
  text-align: left;
  font-size: 30px;
  display: inline-block;
  margin: 1rem 0 1rem 0;
}

.highlight {
  background-color: rgba(191, 155, 222, 0.7);
  display: inline-block;
}

h2 {
  color: #606060;
  display: inline-block;
  font-size: 25px;
  margin: 1.5rem 0 1rem 0;
}

h3 {
  color: #606060;
  display: inline-block;
  font-size: 20px;
  margin: 0 0 1rem 0;
}
a:visited {
  color: #606060;
}

a:hover {
  color: black;
}
